<div class="forgot-password-container">
  <h2 style="font-size: 25px;">Forgot Password</h2>
  <form (ngSubmit)="onForgotPassword()" #forgotPasswordForm="ngForm" novalidate>
    <div class="form-group">
      <label for="email" style="font-size: 20px;">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required
        #emailInput="ngModel" />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
        Email is required.
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Send OTP</button> -->
    <button type="submit" class="btn btn-primary"
    [disabled]="forgotPasswordForm.invalid || isSendingOtp"
    [ngClass]="{ 'loading': isSendingOtp }">
    <span *ngIf="!isSendingOtp">Send OTP</span>
    <span *ngIf="isSendingOtp">Sending...</span>
    </button>

  </form>
  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
