<mat-toolbar class="footer">
    <div class="footer-content">
        <div class="contact-info">
          <span>Email: bli@gmail.com. Phone Number: +91 9701101402. Address: 7-1-32/5/3 , Leelanagar, Begumpet, Hyderabad, Telangana-500016</span>
            <!-- <div class="social-media"> -->
                <!-- <span>Follow Us:</span> -->
                <!-- <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                    <img src="assets/icons/facebook.png" alt="Facebook" class="social-icon">
                </a>
                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                    <img src="assets/icons/twitter.png" alt="Twitter" class="social-icon">
                </a>
                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                    <img src="assets/icons/instagram.png" alt="Instagram" class="social-icon">
                </a> -->
                <!-- <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                    <img src="assets/icons/linkedin.png" alt="LinkedIn" class="social-icon">
                </a> -->
            <!-- </div> -->
        </div>
    </div>
</mat-toolbar>
