<!-- horse-race-dashboard.component.html -->
<!-- <div class="charts-container">
    <div class="chart">
        <h4>Race Performance 1</h4>
        <canvas baseChart [data]="raceChartData1" [options]="chartOptions" chartType="bar"></canvas>
    </div>
    <div class="chart">
        <h4>Race Performance 2</h4>
        <canvas baseChart [data]="raceChartData2" [options]="chartOptions" chartType="bar"></canvas>
    </div>
    <div class="chart">
        <h4>Race Performance 3</h4>
        <canvas baseChart [data]="raceChartData3" [options]="chartOptions" chartType="bar"></canvas>
    </div>
    <div class="chart">
        <h4>Race Performance 4</h4>
        <canvas baseChart [data]="raceChartData4" [options]="chartOptions" chartType="bar"></canvas>
    </div>
</div> -->