<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="content">
    <ng-container *ngIf="!isLoginOrLogoutOrRegisterRoute">
      <app-header-menu></app-header-menu>
    </ng-container>

    <app-view-note></app-view-note>

    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>

    <ng-container *ngIf="!isLoginOrLogoutOrRegisterRoute">
      <app-footer></app-footer>
    </ng-container>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
