<div class="coupon-list" style="margin-bottom: 30px;">
  <h2>Coupon List</h2>
  <ul>
      <li *ngFor="let coupon of coupons">
          {{ coupon.coupon }} - {{ coupon.percentage }}% off - Expires: {{ coupon.ExpirationDate | date }}
          <button (click)="deleteCoupon(coupon)">Delete</button>
      </li>
  </ul>
</div>

<div class="coupon-container">
  <h2>Create New Coupon</h2>
  <form (ngSubmit)="createCoupon()">
      <div>
          <label for="coupon">Coupon Name:</label>
          <input id="coupon" [(ngModel)]="newCoupon.coupon" name="coupon" required>
      </div>
      <div>
          <label for="percentage">Discount (%):</label>
          <input id="percentage" type="number" [(ngModel)]="newCoupon.percentage" name="percentage" required>
      </div>
      <div>
          <label for="ExpirationDate">Expiration Date:</label>
          <input id="ExpirationDate" type="date" [(ngModel)]="newCoupon.ExpirationDate" name="ExpirationDate" required>
      </div>
      <button type="submit">Create Coupon</button>
  </form>
</div> 

<div class="close-container">
  <button mat-button type="button" mat-raised-button color="primary" routerLink="/admin"
    style="margin-left: 1000px;">Close</button>
</div>


<!-- <div class="coupon-page">
    <div class="coupon-container">
        <h2>Create New Coupon</h2>
        <form (ngSubmit)="createCoupon()">
            <div>
                <label for="coupon">Coupon Name:</label>
                <input id="coupon" [(ngModel)]="newCoupon.coupon" name="coupon" required>
            </div>
            <div>
                <label for="percentage">Discount (%):</label>
                <input id="percentage" type="number" [(ngModel)]="newCoupon.percentage" name="percentage" required>
            </div>
            <div>
                <label for="ExpirationDate">Expiration Date:</label>
                <input id="ExpirationDate" type="date" [(ngModel)]="newCoupon.ExpirationDate" name="ExpirationDate"
                    required>
            </div>
            <button type="submit">Create Coupon</button>
        </form>
    </div>

    <div class="coupon-list">
        <h2>Coupon List</h2>
        <ul>
            <li *ngFor="let coupon of coupons">
                {{ coupon.coupon }} - {{ coupon.percentage }}% off - Expires: {{ coupon.ExpirationDate | date }}
                <button (click)="deleteCoupon(coupon)">Delete</button>
            </li>
        </ul>
    </div>
</div> -->